


<div class="row">
  <div class="col-sm-6">
    <h1>Stories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_story_path, class: 'btn btn-primary' do %>
    Add New Story
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Subtitle</th>
            <th>Quote</th>
            <th>Author</th>
            <th>Body</th>
            <th>Section</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @stories.each do |story| %>
        <%= content_tag :tr, id: dom_id(story), class: dom_class(story) do %>
          

                      <td><%= story.title %></td>
                      <td><%= story.subtitle %></td>
                      <td><%= story.quote %></td>
                      <td><%= story.author %></td>
                      <td><%= story.body %></td>
                      <td><%= story.section %></td>
          
          
            <td><%= link_to 'Show', story %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
